*{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  position: relative
}
#zhunxing{
  width: 200px;
  height: 200px;
  position: absolute;
}
#linex{
  width: 100%;
  height: 50%;
  position: absolute;
  border-bottom: 1px solid white;
}
#liney{
  width: 50%;
  height: 100%;
  position: absolute;
  border-right: 1px solid white;
}
#sp{
  position: absolute;
}